{% extends 'inicio.html' %}
{% block titulo %}
    Eliminar Empleado
{% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/formm.css' %}">
{% endblock  %}
{% block contenido %}
    <div class="gojo">
        <img style="margin-top: 7%;" src="{%static 'img/Wgojou.webp' %}" width=14%
        height=400 alt="img">
    </div>
    <div class="marin">
        <img style="margin-top: 7%;" src="{%static 'img/Kmarin.webp' %}" width=14%
        height=400 alt="img">
    </div>
    <section class="form-container">
        <div class="form-header">
            <h1>ELiminacion de Empleados</h1>
        </div>
        <form method="POST" id="form-empl" class="form">
            {% csrf_token %}
            <h2 style="display:flex; justify-content:center; color:white;">¿Desea Eliminar el Empleado? ➡ {{empleado.codigo}} - {{empleado.nombre}}
            </h2>
            <button type="submit" >Eliminar</button>
        </form>
        <form class="form">
            <a href={% url 'listempl'%} >Cancelar</a>
        </form>
    </section>

  
{% endblock  %} 