{% extends 'inicio.html' %}

{% block titulo %}
  Empleados
{% endblock  %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/formm.css' %}">
{% endblock  %}
  {% block  contenido %}
  <div class="gojo">
    <img style="margin-top: 7%;" src="{%static 'img/Wgojou.webp' %}" width=14%
    height=500 alt="img">
  </div>


  <div class="marin">
      <img style="margin-top: 7%;" src="{%static 'img/Kmarin.webp' %}" width=14%
      height=500 alt="img">
  </div>
  <section class="form-container">
    <div class='form-header'>
      <h1>Formulario de Empleados</h1>
    </div>
    <form method='POST' id="form-empl" class="form">
      {% csrf_token %}
      {{emplForm.as_p}}
      <button 
        id="enviar"
        type="submit"
        name="enviar">
        {{accion}}
      </button>
    </form>
    
   <!--<h1>Empleado</h1>
   <img src="../img/Macovit_art.png" 
   width=100% height="300" alt="logo"> -->
  </section>
  

{% endblock  %}
